{% extends "base.html" %}

{% block title %} BlogPost {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}

{% block body %} 
<div class="container my-3">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">{{ post.timeStamp }} by 
        <a href="/about">{{ post.author }}</a>
    </p>
    <p>{{ post.content }}</p>
    <hr>
</div>
<div class="container my-3">
    <h2> Comments </h2>
    <form action="/blog/postComment" method="post">
        {% csrf_token %}
        <input type="text" name="comment" placeholder="enter comment here">
        <input type="hidden" name="postSno" value="{{ post.sno }}">
        <input type="submit" value="Submit">
    </form>    
    <div class="row">
        <div class="col-md-2"> image here </div>
        <div class="col-md-10"> <b>Yash's comments here </b></div>
    </div>
</div>
{% endblock body %}

